APPWRITE_PROJECT_ID=project-id
NEXT_PUBLIC_APPWRITE_PROJECT_NAME=project-name
APPWRITE_ENDPOINT=endpoint-url
APPWRITE_DATABASE_ID=database-id
APPWRITE_USERS_TABLE_ID=table-id
APPWRITE_SESSIONS_TABLE_ID=table-id
APPWRITE_USERS_API_KEY=api-key