NEXT_PUBLIC_APPWRITE_PROJECT_ID=project-id
NEXT_PUBLIC_APPWRITE_PROJECT_NAME=project-name
NEXT_PUBLIC_APPWRITE_ENDPOINT=endpoint-url
NEXT_PUBLIC_APPWRITE_DATABASE_ID=database-id
NEXT_PUBLIC_APPWRITE_USERS_TABLE_ID=table-id